#### Delvis Burgos
#### CSIT 505_01
#### M6: Project Assignment - pandas

#### For: ramen_ratings.csv
##### Q1. Sort the dataframe by the column Stars in descending order, excluding records that have the value of “Unrated”. Store this dataframe in a new variable. Make sure all “Unrated” records are removed before moving on to the next question.
#####
##### Q2. The Stars column of the dataframe has a data type of “object”. Change the data type of this column to float 
#####
##### Q3. Using the dataframe from Q2, find the mean of the Stars column.
#####
##### Q4. Using the dataframe from Q2, find the number of unique brands that has a 5-star rating. If the results contain duplicate brands, make sure to count all duplicates as 1. Note that we are NOT looking for the total number of 5-star ratings in the dataframe.

In [89]:
import pandas as pd
ramen_rating =  pd.read_csv('/Users/delvisburgos/Downloads/ramen-ratings.csv')

# Code for Q1:
ramen_rating = ramen_rating[ramen_rating['Stars'] != "Unrated"].sort_values(by = 'Stars', ascending = False)
print('ANSWER TO Q1:')
print(ramen_rating)

# Code for Q2
ramen_rating = ramen_rating.astype({"Stars":float})
print('')
print('ANSWER TO Q2:')
print(ramen_rating['Stars'])

# Code for Q3
print('')
print('ANSWER TO Q3:')
print("The mean of the Stars column:", ramen_rating['Stars'].mean())

# Code for Q4
print('')
print('ANSWER TO Q4:')
ramen_rating_unique_brands = ramen_rating[ramen_rating['Stars']==5.0]
ramen_rating_unique_brands = ramen_rating_unique_brands['Brand'].drop_duplicates()
print(ramen_rating_unique_brands)

ANSWER TO Q1:
      Review #              Brand  \
591       1989            MyKuali
530       2050            MyKuali
603       1977              MyOri
383       2197  Mr. Lee's Noodles
454       2126             Nissin
...        ...                ...
524       2056               Koyo
563       2017      Samyang Foods
952       1628              Azami
2082       498     Hsin Tung Yang
53        2527      Uni-President

                                                Variety Style      Country  \
591           Penang White curry Noodle Authentic Taste  Pack     Malaysia
530     Penang Red Tom Yum Goong Noodle Authentic Taste   Cup     Malaysia
603   Malaysia Penang Green Curry Vermicelli (New Pa...  Pack     Malaysia
383                               Hong Kong Street Beef   Cup           UK
454                              Mennippon Oumi Chanpon  Bowl        Japan
...                                                 ...   ...          ...
524                  Garlic Pepper Reduced Sodium Ramen  Pack          USA
563                             Honey & Cheese Big Bowl  Bowl  South Korea
952                                 Kimchee Noodle Soup   Cup       Canada
2082                     Tiny Noodle With Oyster Flavor  Pack       Taiwan
53                                      Mushroom Flavor  Pack      Vietnam

     Stars Top Ten
591   5.00     NaN
530   5.00     NaN
603   5.00     NaN
383   5.00     NaN
454   5.00     NaN
...    ...     ...
524      0     NaN
563      0     NaN
952      0     NaN
2082     0     NaN
53       0     NaN

[2577 rows x 7 columns]

ANSWER TO Q2:
591     5.0
530     5.0
603     5.0
383     5.0
454     5.0
       ...
524     0.0
563     0.0
952     0.0
2082    0.0
53      0.0
Name: Stars, Length: 2577, dtype: float64

ANSWER TO Q3:
The mean of the Stars column: 3.6546759798214974

ANSWER TO Q4:
591               MyKuali
603                 MyOri
383     Mr. Lee's Noodles
454                Nissin
602                CarJEN
              ...
745                 Vit's
1239        Plats Du Chef
1440     Asian Thai Foods
223                Kamfen
909                Ah Lai
Name: Brand, Length: 106, dtype: object

#### For netflix_titles.csv
####
#### Q1. Using the .groupby() and .count() method, get the number of unique movies of each release_year. You can regard show_id as the unique identifier of a movie.
#### 
#### Q2. Get all records that have the word “New York” in their description.

In [87]:
import pandas as pd
netflix_titles =  pd.read_csv('/Users/delvisburgos/Downloads/netflix-titles.csv')

# Code for Q1:
netflix_titles_unique = netflix_titles[netflix_titles["type"] == "Movie"].groupby(['release_year'])['show_id'].count()
print('Answer to Q1:')
print(netflix_titles_unique)

# Code for Q2:
netflix_titles_NewYork =netflix_titles[netflix_titles['description'].str.contains("New York")]
print('Answer to Q2:')
netflix_titles_NewYork

Answer to Q1:
release_year
1942      2
1943      3
1944      3
1945      3
1946      2
       ...
2016    593
2017    682
2018    646
2019    400
2020      6
Name: show_id, Length: 70, dtype: int64
Answer to Q2:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
76,70233894,Movie,Act of Vengeance,Mahsun Kırmızıgül,"Haluk Bilginer, Mahsun Kırmızıgül, Mustafa San...","Turkey, United States","September 29, 2018",2010,NR,112 min,"Action & Adventure, International Movies",Two Turkish agents are sent to New York City o...
114,80173625,Movie,Restless Creature: Wendy Whelan,"Linda Saffire, Adam Schlesinger","Peter Martins, Sean Suozzi, Gretchen Smith, As...",United States,"September 26, 2017",2016,TV-MA,94 min,Documentaries,"After 30 years with the New York City Ballet, ..."
135,81004814,TV Show,BONDING,NaN,"Zoe Levin, Brendan Scannell, Micah Stock, Theo...",United States,"September 22, 2019",2019,TV-MA,1 Season,"TV Comedies, TV Dramas",A New York City grad student moonlighting as a...
302,81137484,Movie,Elena,Petra Costa,NaN,"Brazil, United States","September 1, 2019",2012,TV-14,81 min,"Documentaries, International Movies","In this documentary, the director remembers a ..."
363,70068739,Movie,Brother's Shadow,Todd S. Yellin,"Scott Cohen, Judd Hirsch, Susan Floyd, Elliot ...",United States,"September 1, 2017",2006,TV-14,90 min,"Dramas, Independent Movies","After serving time in jail, a disgraced son re..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5853,70136135,TV Show,Mad Men,NaN,"Jon Hamm, Elisabeth Moss, Vincent Kartheiser, ...",United States,"March 22, 2015",2014,TV-14,7 Seasons,TV Dramas,"Set in 1960s New York City, this award-winning..."
5942,70242311,TV Show,Orange Is the New Black,NaN,"Taylor Schilling, Kate Mulgrew, Laura Prepon, ...",United States,"July 26, 2019",2019,TV-MA,7 Seasons,"TV Comedies, TV Dramas",A privileged New Yorker ends up in a women's p...
6076,70142362,TV Show,Nurse Jackie,NaN,"Edie Falco, Merritt Wever, Paul Schulze, Peter...",United States,"December 31, 2015",2015,TV-MA,7 Seasons,"TV Comedies, TV Dramas",A flawed but dedicated ER nurse works in a New...
6183,80025601,TV Show,The Get Down,NaN,"Justice Smith, Shameik Moore, Herizen Guardiol...",United States,"April 7, 2017",2017,TV-MA,2 Seasons,TV Dramas,"In 1977 New York City, the talented and soulfu..."
6215,80066227,TV Show,Crazy Ex-Girlfriend,NaN,"Rachel Bloom, Vincent Rodriguez III, Santino F...",United States,"April 13, 2019",2019,TV-14,4 Seasons,"Romantic TV Shows, TV Comedies","Still pining for Josh, the boy who dumped her ..."